<html lang="en">
  <head>
    <title>Success</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/pico.min.css" />
  </head>
  <body>
    <main class="container">
      <h1>Success</h1>
      <p>
        Thank you for your submission.
        <br />
        Your link is available under
        <a href="/{{target}}">/{{target}}</a>.
      </p>
    </main>
  </body>
</html>
